
<link rel="stylesheet" href="./assets/panel.css">
<div id="mainSection" ui-view="mainSection" class="">

<div class="wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7">
            <h1 translate="APP.DATACENTER.INFRASTRUCTURE.SERVERS.LIST.HEADING.TITLE">Servers</h1>
        </div>
    </div>

    <div class="well bar-buttons">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 buttons">
            <button ui-sref="servers-create" analytics-on="click" analytics-category="servers" analytics-label="create" type="button" class="btn btn-primary" id="servers-create-button" apply-permissions="{section: 'SERVERS', permissions:['CREATE']}" href="#/servers/create">
                <span class="icon icon-create"></span>Create
            </button>
            <div class="btn-group open">
                <button type="button" class="btn btn-info dropdown-toggle "  ng-click="ctrl.showMenu = !ctrl.showMenu">
                <span class="icon icon-actions"></span>Actions<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" ng-if="ctrl.showMenu">
                    <!--<li ng-class="{'disabled':list.optionDisabled('start')}" apply-permissions class="permissions-disable" >-->
                    <li ng-class="{'disabled':list.optionDisabled('start')}" class="disabled">
                    <a ng-disabled="list.optionDisabled('start')" ng-click="!list.optionDisabled('start') &amp;&amp; list.startServer()" apply-permissions="{section: 'SERVERS', permissions:['START']}" disabled="disabled">Start</a>
                    </li>
                    <li  ng-click="ctrl.showMenu = false; ctrl.restartServers()">
                        <a>Restart</a></li>
                    <li ng-class="{'disabled':list.optionDisabled('stop')}" class="">
                        <a ng-disabled="list.optionDisabled('stop')" size="sm" modal-confirm="" element="list.selectedServer" modal-template="app/servers/partials/list/stop.html" modal-body="The server <strong crop-text='Web Hack'></strong> will be shut down." confirm-function="list.stopServer" check-to-confirm="modal.hardware !== undefined" apply-permissions="{section: 'SERVERS', permissions:['SHUTDOWN']}">Shut Down</a></li>
                    <li ng-class="{'disabled':list.optionDisabled('remove')}" class="">
                        <a ng-disabled="list.optionDisabled('remove')" modal-confirm="" element="list.selectedServer" other-info="list.otherInfo" modal-template="app/servers/partials/list/remove.html" modal-body="The server <strong crop-text='Web Hack'></strong> will be deleted." confirm-function="list.removeServer" check-to-confirm="modal.confirmRemove" ng-click="list.updateVariables()" apply-permissions="{section: 'SERVERS', permissions:['DELETE']}">Delete</a></li>


                    <li ng-class="{'disabled':list.optionDisabled('kvm')}" class="">
                        <a ng-class="{'disabled':list.optionDisabled('kvm')}" ng-click="!list.optionDisabled('kvm') &amp;&amp; list.consoleKvm()" apply-permissions="{section: 'SERVERS', permissions:['ACCESSKVMCONSOLE']}" class="" style="">Access KVM Console</a>
                    </li>

                    <li class="divider"></li>
                    <!----><li ng-class="{'disabled': list.optionDisabled('resize')}" ng-if="list.selectedServerIsVirtualMachine" class="">
                        <a ng-disabled="list.optionDisabled('resize')" ng-click="!list.optionDisabled('resize') &amp;&amp; list.resizeServer()" apply-permissions="{section: 'SERVERS', permissions:['RESIZE']}">Customise</a>
                    </li><!---->
                    <li ng-class="{'disabled': list.optionDisabled('reinstall')|| (list.selectedServer &amp;&amp; list.selectedServer.ips.length==0)}" class="">
                        <a ng-disabled="list.optionDisabled('reinstall') || (list.selectedServer &amp;&amp; list.selectedServer.ips.length==0)" ng-click="!list.optionDisabled('reinstall') &amp;&amp; list.selectedServer &amp;&amp; list.selectedServer.ips.length>0 &amp;&amp; list.reinstallImage()" apply-permissions="{section: 'SERVERS', permissions:['REINSTALL']}">Reinstall Image</a>
                    </li>
                    <li class="divider"></li>
                    <!----><li ng-if="list.isCloneWarning === false &amp;&amp; list.selectedServerIsVirtualMachine" ng-class="{'disabled':list.optionDisabled('clone')}" class="">
                       <a ng-disabled="list.optionDisabled('clone')" modal-confirm="" size="" element="list.selectedServer" modal-template="app/servers/partials/list/clone.html" other-info="list.clonetext" confirm-function="list.clone" apply-permissions="{section: 'SERVERS', permissions:['CLONE']}">Clone</a>
                    </li><!---->
                    <!---->
                    <!----><li ng-class="{'disabled':list.optionDisabled('snapshot')}" ng-if="list.selectedServerIsVirtualMachine" class="">
                        <a apply-permissions="{section: 'SERVERS', permissions:['MANAGESNAPSHOT']}">Snapshots  <span class="caret"></span></a>
                        <ul class="sub-menu">
                            <li ng-class="{'disabled':list.optionDisabled('createsnap')}">
                                <!----><a ng-disabled="list.optionDisabled('createsnap')" ng-if="!list.maxSnapshot()" modal-confirm="" size="sm" element="list.selectedServer" modal-template="app/servers/partials/list/createsnap.html" modal-body="<p>Creating snapshot <strong crop-text='Web Hack'>.</strong></p><p>The snapshot will automatically be deleted on <strong>30/04/2017 20:17:49</strong>.</p>" confirm-function="list.createsnap" apply-permissions="{section: 'SERVERS', permissions:['MANAGESNAPSHOT']}">Create Snapshot</a><!---->

                                <!---->
                            </li>
                            <li ng-class="{'disabled':list.optionDisabled('consolidatesnap')}" class="disabled">
                                <a ng-disabled="list.optionDisabled('consolidatesnap')" modal-confirm="" size="sm" element="list.selectedServer" modal-template="app/servers/partials/list/consolidatesnap.html" modal-body="The snapshot of the server <strong crop-text='Web Hack'></strong> will be deleted." confirm-function="list.consolidatesnap" apply-permissions="{section: 'SERVERS', permissions:['MANAGESNAPSHOT']}" disabled="disabled">Delete Snapshot</a></li>
                            <li ng-class="{'disabled':list.optionDisabled('restoresnap')}" class="disabled">
                                <a ng-disabled="list.optionDisabled('restoresnap')" modal-confirm="" size="sm" element="list.selectedServer" modal-template="app/servers/partials/list/restoresnap.html" modal-body="The server <strong crop-text='Web Hack'></strong> will be reset to the status of the snapshot from <strong>undefined undefined</strong>." confirm-function="list.restoresnap" apply-permissions="{section: 'SERVERS', permissions:['MANAGESNAPSHOT']}" disabled="disabled">Restore Snapshot</a></li>
                        </ul>
                    </li><!---->
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle ladda-button" data-toggle="dropdown" ng-disabled="!list.selectedServer" ui-ladda="list.loadingPrices" data-style="expand-right"><span class="ladda-label">
                    <span class="icon icon-network"></span>
                    Network
                    <span ng-class="{'caret' : list.loadingPrices !== true }" class="caret"></span>
                </span><span class="ladda-spinner"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <!-- <li><a href="#">{{"APP.DATACENTER.INFRASTRUCTURE.SERVERS.LIST.LABEL.NETWORK_INTERFACES"| translate}}</a></li> -->
                    <li ng-class="{'disabled':(list.optionDisabled('assignip') || list.assigningIp)}" class="" style="">
                        <a class="permissions-disable" ng-disabled="(list.optionDisabled('assignip') || list.assigningIp)" ng-click="!list.optionDisabled('assignip') &amp;&amp; !list.assigningIp &amp;&amp; list.assignIp()" apply-permissions="{section: 'SERVERS', permissions:['ASSIGNIP']}">
                            Assign IP
                        </a>
                    </li>
                </ul>
            </div>


            <!----><button ng-if="list.selectedServer &amp;&amp; list.selectedServerIsVirtualMachine" ng-show="list.optionDisabled('isoactive')" class="btn btn-info dvd permissions-disable" ng-disabled="list.optionDisabled('iso') || list.isos.length < 1" ng-class="{disabled:list.optionDisabled('iso')} " ui-sref="servers-iso({nameElement:list.selectedServer.id})" apply-permissions="{section: 'SERVERS', permissions:['MANAGEDVD']}" href="#/servers/AC134F9AE88504DC934891388F591C1E/iso">
                    <span class="icon icon-dvd"></span>

                    DVD Drive
            </button><!---->
            <!--

            -->
            <!----><button apply-permissions="{section: 'SERVERS', permissions:['MANAGEDVD']}" ng-if="list.selectedServer &amp;&amp; list.selectedServerIsVirtualMachine" ng-show="!list.optionDisabled('isoactive')" class="btn btn-info dvd permissions-disable ng-hide" ng-disabled="list.optionDisabled('iso')" ng-class="{disabled:list.optionDisabled('iso')}" uib-tooltip="" tooltip-placement="top" size="sm" modal-confirm="" modal-title="Eject DVD" modal-body="Ejecting the DVD <strong></strong> on the server <strong crop-text='Web Hack'>.</strong>" confirm-function="list.unmountISO" style="">
                  <span class="icon icon-dvd-without"></span>


</span>

                  <!-- crop-text-uib-tooltip="{{list.getDvDApplianceText('DESC')}}" -->


            </button><!---->

        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 options">

        </div>

        <div class="clearfix"></div>

    </div>
</div>


    <div id="list-server" class="list element " >
        <!-- List servers -->
        <div class="options">
            <form class="form-inline filter_wrapper ng-pristine ng-valid" role="form">
                <div class="form-group filter">
                    <label for="inputEmail3" class="control-label filter_title">Filter<span class="glyphicon glyphicon-filter" aria-hidden="true"></span></label>
                    <input type="text" ng-model="list.nameFilter" class="form-control filter_extra ng-pristine ng-untouched ng-valid ng-empty" select-on-click="" filter="">
                </div>
                <!--<button class="btn btn-success">CSV</button>-->
            </form>
        </div>
        <table class="table table-striped table-hover">
            <thead n class="">
                <tr>
                    <!-- <th ng-class="list.reverse && list.order == 'publicName' ? 'up' : 'down'" ng-click="list.changeOrder('publicName')" >Name</th>-->
                    <th class="no-sortable center to-select"></th>
                    <th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" order-column="" reverse="list.reverse" order-by="public_name" actual-order="list.order" desc-field="Name" class="down">Name</th>
                    <th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" order-column="" reverse="list.reverse" order-by="state" actual-order="list.order" desc-field="Status">Status</th>
                    <th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" order-column="" reverse="list.reverse" order-by="ips" actual-order="list.order" desc-field="IP">IP</th>
                    <!----><th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" ng-if="list.mode.fixedServerEnabled &amp;&amp; list.mode.flexibleServerEnabled" order-column="" reverse="list.reverse" order-by="configuration_name" actual-order="list.order" desc-field="Type">Type</th><!---->
                    <!---->

                    <th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" ng-show="list.mode.flexibleServerEnabled &amp;&amp; !list.mode.fixedServerEnabled" order-column="" reverse="list.reverse" order-by="vcpu" actual-order="list.order" desc-field="CPU" class="ng-hide">CPU</th>
                    <th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" ng-show="list.mode.flexibleServerEnabled &amp;&amp; !list.mode.fixedServerEnabled" order-column="" reverse="list.reverse" order-by="ram" actual-order="list.order" desc-field="RAM" class="ng-hide">RAM</th>
                    <th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" ng-show="list.mode.flexibleServerEnabled &amp;&amp; !list.mode.fixedServerEnabled" order-column="" reverse="list.reverse" order-by="hdd" actual-order="list.order" desc-field="SSD" class="ng-hide">SSD</th>
                    <th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" order-column="" reverse="list.reverse" order-by="alerts_count" actual-order="list.order" desc-field="Warnings">Warnings</th>
                    <!----><th ng-class="reverse &amp;&amp; orderBy === actualOrder ? 'up' : orderBy === actualOrder ? 'down' : ''" ng-click="onClick();" class="dc" ng-if="list.showDc" order-column="" reverse="list.reverse" order-by="datacenter_id" actual-order="list.order" desc-field="Data centre">Data centre</th><!---->
                </tr>
            </thead>
            <tbody>
                <!---->
                <!---->


                <!----><!---->
                <tr  ng-repeat="server in ctrl.servers " ng-class="{'active':server.selected}" ng-click=ctrl.selectServer(server)>
                    <td class="center">
                        <input ng-checked="server.selected" type="checkbox" name="server" id="radioVMAC134F9AE88504DC934891388F591C1E" checked="checked">
                        <label for="radioVMAC134F9AE88504DC934891388F591C1E"></label>
                    </td>
                    <td>
							<!--descomentar con hybrid cloud (junto a lo comnetatado en table.less)
							<span ng-if="server.server_type"
									class="icon"
									ng-class="{'icon-server':server.server_type === 'bare_metal', 'icon-cloud':server.server_type === 'virtual_machine'}">
							</span>-->
							<span>{{server.name}}</span>
                    </td>

                    <td>
                        <!----><span class="label label-success" ng-if="server.status.state === 'POWERED_ON'"></span>
                        <!----><span class="label label-danger" ng-if="server.status.state === 'POWERED_OFF'"></span>
                        <!----><span class="label label-info" ng-if="server.status.state === 'REBOOTING'"></span>
                    </td>
                    <td>
                        <!----><span ng-if="server.ips.length > 0">
                            <!----><!----><span ng-repeat="ip in server.ips" ng-if="$first">74.208.124.117</span><!----><!---->
                            <!-- <span ng&#45;if="server.ips.length > 1" class="badge badge&#45;more&#45;ips" tooltip&#45;html&#45;unsafe="{{list.displayIpsServer(server.ips)}}" tooltip&#45;placement="right" >+{{server.ips.length &#45; 1}}</span> -->
                            <!---->
                        </span><!---->

                    </td>

                    <!----><td ng-if="list.mode.fixedServerEnabled || (list.mode.fixedServerEnabled &amp;&amp; list.mode.flexibleServerEnabled)">
                        <!---->
                        <!----><a class="badge badge-fix" uib-tooltip-html="list.tooltipFeatures[server.id]" tooltip-placement="right" ng-if="server.configuration_name">M</a><!---->
                    </td><!---->

                    <!----><td class="os" ng-if="server.appliance.os.name">
                        <span class="icon_Centos6"></span>
                        <span class="system">CentOS 6</span>
                    </td><!---->
                    <!---->

                    <td ng-show="list.mode.flexibleServerEnabled &amp;&amp; !list.mode.fixedServerEnabled" class="ng-hide">1 vCore </td>
                    <td ng-show="list.mode.flexibleServerEnabled &amp;&amp; !list.mode.fixedServerEnabled" class="ng-hide">1.00 GB</td>
                    <td ng-show="list.mode.flexibleServerEnabled &amp;&amp; !list.mode.fixedServerEnabled &amp;&amp; server.hdd > 0" class="ng-hide"> GB</td>
                    <td ng-show="list.mode.flexibleServerEnabled &amp;&amp; !list.mode.fixedServerEnabled &amp;&amp; server.hdd == 0" class="ng-hide">-</td>
                    <td>
                        <!-- <span class="badge" ng&#45;if="server.alerts_count.warning > 0">{{server.alerts_count.warning}}</span> -->
                        <!-- <span class="badge badge&#45;danger" ng&#45;if="server.alerts_count.critical > 0">{{server.alerts_count.critical}}</span> -->
                        <!---->
                        <!----><span ng-if="!server.alerts_count || server.alerts_count.length == 0">---</span><!---->
                    </td>
                    <!----><td class="dc" ng-if="list.showDc"><span class="flag flag-usa"></span></td><!---->
                </tr><!----><!---->
            </tbody>
        </table>
    </div>

    <paginate total-items="list.filteredList.length" items-per-page="list.itemsPerPage" current-page="list.currentPage" section="vms"><!---->
</paginate>
</div>

<!----><div ui-view="servers.detail" class=""><div id="detail-server" class="details">
    <!-- List detail -->
    <div class="details_title grey-3">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
                <form name="detailf" ng-model="detailf" novalidate="" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                    <ng-form name="nameForm" class="ng-pristine ng-valid">
                        <h2 ><span class="cropText">Web Hack</span></h2>
                        <span class="has-error info-label bottom-small ng-hide" ng-show="nameForm.auxValue.$error.required &amp;&amp; !nameForm.auxValue.$pristine">Name is required.</span>
                        <span class="has-error info-label bottom-small ng-hide" ng-show="nameForm.auxValue.$error.isString">Invalid characters entered.</span>
                        <span class="has-error info-label bottom-small ng-hide" ng-show="nameForm.auxValue.$error.existObject">Name already exists.</span>
                        <span class="has-error info-label bottom-small ng-hide" ng-show="nameForm.auxValue.$error.maxlength">Up to 128 characters.</span>
                    </ng-form>

                </form>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 element-status">
                <!----><div class="btn-group active" ng-if="detail.showDropDownStates">

                    <button type="button" class="btn dropdown-toggle btn-success" ng-class="{'btn-success':detail.server.state == 'POWERED_ON','btn-danger':detail.server.state == 'POWERED_OFF'}" data-toggle="dropdown">
                        On
                        <span ng-show="true" class="caret"></span>
                    </button>


                    <ul ng-if="detail.server.state == 'POWERED_ON'" class="dropdown-menu" role="menu">
                        <li class="permissions-delete" ng-click="ctrl.restartServers()">
                            <a href="" class="label label-info">
                                Restart
                            </a>
                        </li>

                        <li apply-permissions="{section: 'servers', permissions:['SHUTDOWN']}" class="permissions-delete">
                            <a href="" class="label label-danger" modal-confirm="" element="list.selectedServer" size="sm" modal-template="app/servers/partials/list/stop.html" modal-body="The server <strong crop-text='Web Hack'></strong> will be shut down." confirm-function="list.stopServer" check-to-confirm="modal.hardware !== undefined">
                                Shut Down
                            </a>
                        </li>


                    </ul><!---->

                    <!---->
                </div><!---->

                <!---->
            </div>
        </div>
    </div>
    <div class="details-content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-9 col-md-push-3 area-warning">
                        <!-- <button type="button" class="btn btn&#45;warn" id="warningsLink" -->
                        <!--         ng&#45;click="detail.openAlerts($event, 'bottom', 'popover&#45;style&#45;4', 'warning')" -->
                        <!--         ng&#45;if="detail.server.alerts &#38;&#38; detail.server.alerts.warning &#38;&#38; detail.server.alerts.warning.length" -->
                        <!--         ng&#45;disabled="list.optionDisabled('resize')" -->
                        <!--         ng&#45;class="{'disabled': list.optionDisabled('resize')}"> -->
                        <!--     {{"APP.DATACENTER.INFRASTRUCTURE.SERVERS.DETAIL.BUTTON.WARNINGS"|translate}} <a class="badge">{{detail.server.alerts.warning.length}}</a> -->
                        <!-- </button> -->
                        <!-- <button type="button" class="btn btn&#45;critical" id="warningsLink1" -->
                        <!--         ng&#45;click="detail.openAlerts($event, 'bottom', 'popover&#45;style&#45;3', 'critical')" -->
                        <!--         ng&#45;if="detail.server.alerts &#38;&#38; detail.server.alerts.critical &#38;&#38; detail.server.alerts.critical.length" -->
                        <!--         ng&#45;disabled="list.optionDisabled('resize')" -->
                        <!--         ng&#45;class="{'disabled': list.optionDisabled('resize')}"> -->
                        <!--     {{"APP.DATACENTER.INFRASTRUCTURE.SERVERS.DETAIL.BUTTON.CRITICAL"|translate}} <a class="badge">{{detail.server.alerts.critical.length}}</a> -->
                        <!-- </button> -->
                        <!---->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3 col-md-pull-9">
                      <h3 class="block-title"><span>Features</span></h3>
                    </div>
                </div>


                <!----><div class="block block-to-edit-inside" ng-if="detail.server.appliance">

                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 icon-1">
                            <span class="icon icon-setting"></span>
                        </div>

                        <!----><div class="col-xs-11 col-sm-11 col-md-11" ng-if="detail.server.appliance">

                            <dl>
                                <dt class="col-xs-12 col-sm-12 col-md-12 title-to-edit">Server:</dt>
                                <dd></dd>
                            </dl>
                            <div class="block block-no-edit">
                                <div class="block-no-edit-content">
                                    <dl>
                                        <dt class="col-xs-4 col-sm-4 col-md-4">Source:</dt>
                                        <dd class="col-xs-8 col-sm-8 col-md-8">

                                            <!---->
                                            <!----><span ng-if="detail.server.appliance.type !== 'PERSONAL'">1&amp;1 Images</span><!---->
                                            <!---->
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <!-- OS REINIT -->
                            <div class="block last block-to-edit" ng-class="{'block-no-edit': !detail.reinit,
                                           'block-to-edit': detail.reinit,
                                           'last':detail.server.appliance.licenses.length > 0,
                                           'loading': detail.loadingAppliances,
                                           'disabled': list.optionDisabled('reinit')}" ng-click="detail.reinit &amp;&amp; !list.optionDisabled('reinit') &amp;&amp; detail.openReinit($event, 'top', 'sm', 'popover-style-1');">
                                <div ng-class="{'block-no-edit-content': !detail.reinit, 'block-to-edit-content': detail.reinit }" class="block-to-edit-content">
                                    <dl>
                                        <dt class="col-xs-4 col-sm-4 col-md-4">Operating system:</dt>
                                        <dd class="col-xs-8 col-sm-8 col-md-8">



                                            CentOS 6 -
                                            64-bit
                                            <!----><span ng-if="detail.server.appliance.subtype">
                                            (Standard)
                                            </span><!---->
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <!---->
                        </div><!---->
                    </div>
                </div><!---->




                <!-- actual atributos de software -->
                <!---->
                 <!---->


                <!---->


                <!-- ojo con este bloqueo:  ng-click="!list.optionDisabled('deleteips')-->
                 <div class="block block-to-edit permissions-disable" ng-class="{'disabled': list.optionDisabled('deleteips') , 'loading': detail.disabledIps}" ng-disabled="list.optionDisabled('deleteips') || detail.disabledIps" manage-items="" items="detail.serverDetailIPs" check-changes="detail.ipCheckChanges(data)" callback="detail.deleteIPs(data)" input-type="checkbox" confirmation-message="APP.DATACENTER.INFRASTRUCTURE.SERVERS.DETAIL.LABEL.REMOVE_IP_CONFIRM" button-custom-text="APP.DATACENTER.INFRASTRUCTURE.SERVERS.DETAIL.BUTTON.REMOVE_IP" apply-permissions="{section: 'ips', permissions:['DELETE']}" refresh-items-event-name="refresh_manage_items_ips">
                    <div class="block-to-edit-content">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 icon-2">
                                <span class="icon icon-ip"></span>
                            </div>
                            <div class="col-xs-11 col-sm-11 col-md-11">
                                <dl>
                                    <dt class="col-xs-4 col-sm-4 col-md-4">IP:</dt>
                                    <dd class="col-xs-8 col-sm-8 col-md-8">

                                        <!----><a href="" ng-if="detail.serverIPs.length">
                                            <!----><span ng-repeat="ip in detail.serverIPs" ng-class="{'italic':ip.dhcp}" class="italic"> 74.208.124.117 <br> </span><!---->
                                       </a><!---->

                                      <!---->
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>




                <!--<div class="block block-to-edit-inside permissions-disable" apply-permissions="{section: 'servers', permissions:['RESIZE']}">-->
                <div class="block block-to-edit-inside permissions-disable" ng-class="{'disabled': list.optionDisabled('resize')}">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 icon-3">
                            <span class="icon icon-server"></span>
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11">
                            <dl>
                                <dt class="col-xs-12 col-sm-6 col-md-6 title-to-edit">Configuration:</dt>
                            </dl>
                            <div class="block block-to-edit permissions-disable" ng-click="!list.optionDisabled('resize') &amp;&amp; detail.openEdit($event, 'top', 'lg', 'popover-style-1');" apply-permissions="{section: 'servers', permissions:['RESIZE']}" ng-class="{ 'loading': detail.loadingPrices }">
                                <div class="block-to-edit-content permissions-disable" id="editServerLink">
                                    <!----><dl ng-if="detail.showViewElement('fixedConfiguration')">
                                        <dt class="col-xs-4 col-sm-4 col-md-4">Type:</dt>
                                        <!----><dd class="col-xs-8 col-sm-8 col-md-8" ng-if="detail.productType === 'fixed'"><a>Cloud Server M </a></dd><!---->
                                        <!---->
                                    </dl><!---->
                                    <dl>
                                        <dt class="col-xs-4 col-sm-4 col-md-4">CPU:</dt>
                                        <dd class="col-xs-8 col-sm-8 col-md-8"><a>1 vCore</a></dd>
                                    </dl>
                                    <dl>
                                        <dt class="col-xs-4 col-sm-4 col-md-4">RAM:</dt>
                                        <dd class="col-xs-8 col-sm-8 col-md-8"><a>1 GB</a></dd>
                                    </dl>
                                    <dl>
                                        <dt class="col-xs-4 col-sm-4 col-md-4">SSD:</dt>
                                        <!----><dd class="col-xs-8 col-sm-8 col-md-8" ng-if="detail.productType === 'fixed'">
                                        <!----><a ng-if="detail.billingServer.hdd.quantity > 0">50 GB</a><!---->
                                        <!---->
                                        </dd><!---->
                                        <!---->
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="block block-to-edit-inside" ng-class="{'disabled': list.optionDisabled('firewalls')}">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 icon-3">
                            <span class="icon icon-firewall"></span>
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11">
                            <dl>
                                <dt class="col-xs-12 col-sm-12 col-md-12 title-to-edit">Firewall Policies:</dt>
                            </dl>

                            <div select-ip-items="" section="firewalls" input-type="radio"><!----><div class="block block-to-edit permissions-disable" ng-repeat="(ip, ipObjects) in detail.ipsHandlerObject[section].items" apply-permissions="{section: 'firewalls', permissions:['MANAGEATTACHEDSERVERIP']}">
    <div>
        <div class="block-to-edit-content permissions-disable" manage-items="" items="ipObjects" input-type="radio" callback="detail.ipsHandlerObject[section].callbackFunction(data, ip)" button-custom-text="APP.DATACENTER.INFRASTRUCTURE.SERVERS.DETAIL.BUTTON.CONFIRM" refresh-items-event-name="refresh_manage_items_firewalls_74.208.124.117" ng-disabled="list.optionDisabled(section)">
            <dl>
                <dt class="col-xs-4 col-sm-4 col-md-4"><span>74.208.124.117</span></dt>
                <dd class="col-xs-8 col-sm-8 col-md-8">
                </dd>
            </dl>
        </div>
    </div>
</div><!---->
</div>


                        </div>
                    </div>
                </div>

                <!---->



                 <div class="block block-to-edit permissions-disable disabled" ng-class="{'disabled': list.optionDisabled('privatenetworks') , 'loading': detail.disabledVlans}" ng-disabled="list.optionDisabled('privatenetworks') || detail.disabledIps" manage-items="" items="detail.serverDetailVlans" callback="detail.deleteVlans(data)" input-type="checkbox" button-custom-text="APP.DATACENTER.INFRASTRUCTURE.SERVERS.DETAIL.BUTTON.REMOVE_VLAN" apply-permissions="{section: 'privatenetwork', permissions:['MANAGEATTACHEDSERVER']}" blocked-message="" confirmation-message="APP.DATACENTER.INFRASTRUCTURE.SERVERS.DETAIL.LABEL.REMOVE_VLAN_CONFIRM" refresh-items-event-name="refresh_manage_items_vlans" disabled="disabled">
                    <div class="block-to-edit-content">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 icon-2">
                                <span class="icon icon-vlan"></span>
                            </div>
                           <div class="col-xs-11 col-sm-11 col-md-11">
                                <dl>
                                    <dt class="col-xs-4 col-sm-4 col-md-4">Private networks:</dt>
                                    <dd class="col-xs-8 col-sm-8 col-md-8">
                                        <!---->
                                        <!----><span ng-if="detail.privateNetworks.length == 0">No private network available.</span><!---->
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>



                <!---->

                <div class="block block-to-edit permissions-disable" ng-class="{'disabled': list.optionDisabled('monitoringpolicies') , 'loading': detail.disabledMPs}" ng-disabled="list.optionDisabled('monitoringpolicies') || detail.disabledMPs" manage-items="" items="detail.serverMps" item-id="id" check-changes="detail.mpCheckChanges(data)" button-custom-text="APP.DATACENTER.INFRASTRUCTURE.SHAREDSTORAGES.DETAIL.BUTTON.CONFIRM" callback="detail.deleteMPs(data)" input-type="radio" refresh-items-event-name="refresh_manage_items_mps" apply-permissions="{section: 'monitoringpolicies', permissions:['MANAGEATTACHEDSERVER']}">
                    <div class="block-to-edit-content">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 icon-2">
                                <span class="icon icon-monitoring"></span>
                            </div>
                            <div class="col-xs-11 col-sm-11 col-md-11">
                                <dl>
                                    <dt class="col-xs-4 col-sm-4 col-md-4">Monitoring Policies:</dt>
                                    <dd class="col-xs-8 col-sm-8 col-md-8">
                                        <!----><a href="" ng-if="detail.monitoringPolicy">
                                            <!---->
                                            <!----><span ng-if="detail.monitoringPolicy.default==1">Default Monitoring Policy</span><!---->
                                        </a><!---->
                                        <!---->
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>


            <!----><div class="block block-to-edit" ng-if="detail.server.first_password" ng-class="{'block-to-edit':detail.server.first_password,'disabled': list.optionDisabled('initialpassword')}" ng-click="detail.server.first_password &amp;&amp; !list.optionDisabled('initialpassword') &amp;&amp; detail.openPass($event, 'top', 'sm', 'popover-style-1 edit-ip',detail.server.first_password );">
                    <div class="block-to-edit-content block-edit-icon-3">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1 icon-2">
                                <span class="icon icon-permission"></span>
                            </div>
                            <div class="col-xs-11 col-sm-11 col-md-11">
                                <dl>
                                    <dt class="col-xs-4 col-sm-4 col-md-4">Initial Password:</dt>
                                    <dd class="col-xs-8 col-sm-8 col-md-8">
                                        <a href="">Show Password</a>
                                    </dd>
                                    <!---->
                                </dl>
                            </div>
                        </div>
                    </div>
                </div><!---->
                <!---->
                <!----><div ng-if="detail.showDc" class="block" element="detail.server" region-description="" left-size="col-xs-1 col-sm-1 col-md-1 icon-2" right-size="col-xs-11 col-sm-11 col-md-11" icon-size="col-xs-4 col-sm-4 col-md-4" text-size="col-xs-8 col-sm-8 col-md-8">
                <div class="row">
    <div ng-class="leftSize" class="col-xs-1 col-sm-1 col-md-1 icon-2">
        <span class="icon icon-region"></span>
    </div>
    <div ng-class="rightSize" class="col-xs-11 col-sm-11 col-md-11">
        <dl>
            <dt ng-class="iconSize" class="noselect col-xs-4 col-sm-4 col-md-4">Data centre:</dt>
            <!----><dd ng-class="textSize" ng-if="description" class="col-xs-8 col-sm-8 col-md-8">USA</dd><!---->
            <!---->
        </dl>
    </div>
</div></div><!---->
                <div class="block last">
                    <div class="row">
                        <div class="col-xs-1 col-sm-1 col-md-1 icon-2">
                            <span class="icon icon-calendar"></span>
                        </div>
                        <div class="col-xs-11 col-sm-11 col-md-11">
                            <dl>
                                <dt class="col-xs-4 col-sm-4 col-md-4">Created on:</dt>
                                <dd class="col-xs-8 col-sm-8 col-md-8">27/04/2017 17:32:19</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 permissions-delete" apply-permissions="{section: 'monitoringcenter', permissions:['SHOW']}">
                <h3 class="block-title"><span>Monitoring</span></h3>
                <div class="block block-boxs">
                    <div ng-show="!detail.monitoringPolicy" class="ng-hide">
                        <p class="bs-example-bg-classes bg-warning">No monitoring policy is active.</p>
                    </div>
                    <div ng-show="detail.errorAgent" class="ng-hide">
                        <p class="bs-example-bg-classes bg-warning">Connection to monitoring agent failed. Make sure that the monitoring agent has been installed and check your network configuration.</p>
                    </div>

                    <div ng-show="detail.monitoringPolicy &amp;&amp; !detail.errorAgent" loading-animation="detail.loadingChartsPromise" class=""><div ng-show="showAnimation" class="ng-hide" style="">
    <div class="floatingBarsContent">
        <div class="blockG" id="rotateG_01"></div>
        <div class="blockG" id="rotateG_02"></div>
        <div class="blockG" id="rotateG_03"></div>
        <div class="blockG" id="rotateG_04"></div>
        <div class="blockG" id="rotateG_05"></div>
        <div class="blockG" id="rotateG_06"></div>
        <div class="blockG" id="rotateG_07"></div>
        <div class="blockG" id="rotateG_08"></div>
    </div>
</div>
</div>
                </div>
            </div>


        </div>
    </div>
</div>
<element-history items="detail.server.last_logs" elementid="detail.server.id"><!----><div class="details permissions-delete" id="history-server" ng-if="items &amp;&amp; items.length>0" apply-permissions="{section: 'logs', permissions:['SHOW']}">
  <div class="wrapper">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="block-title"><span>History</span></h3>
            <div class="block">
              <table class="table table-condensed">
                  <thead>
                      <tr>
                          <th colspan="2">Action</th>
                          <th>Date</th>
                          <th>Duration</th>
                          <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!----><tr ng-repeat="item in items">
                          <td><span class="glyphicon glyphicon-plus" ng-class="::returnGlyphiconClass(item.action)"></span></td>
                          <td><a ng-click="goToLogDetail(item)">Creating server</a></td>
                          <td>04/27/2017 17:32:19</td>
                          <td>55sec</td>
                          <td>
                              <span class="label label-success" ng-class=" item.result| classByState:'logs'" uib-tooltip="Completed" tooltip-placement="right">
                              </span>
                          </td>
                      </tr><!---->
                  </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>
</div><!----></element-history>
</div>
</div>
