<div class="container main-container" style="margin-top: 280px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h1 class="text-center">NGCS Login</h1>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="jumbotron">
                        <form name="loginForm" class="col-md-6 col-md-offset-3" ng-submit="ctrl.login()">
                            <div class="form-group">
                                <label for="token">API token</label>
                                <input type="text" class="form-control" id="token" placeholder="1&amp;1 API token" ng-model="ctrl.apiToken" required="">
                            </div>
                            <div ng-if="ctrl.error" class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                    This token is invalid, please enter a valid token.
                                </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="loginForm.$invalid" disabled="disabled">Submit</button>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>